#
# snippets.cfg
#
# Copyright (C) 2010 Gummi Developers
# All Rights reserved.
#
# Modified from vim-snipMate plugin
#
# Permission is hereby granted, free of charge, to any person
# obtaining a copy of this software and associated documentation
# files (the "Software"), to deal in the Software without
# restriction, including without limitation the rights to use,
# copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the
# Software is furnished to do so, subject to the following
# conditions:
#
# The above copyright notice and this permission notice shall be
# included in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
# OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
# HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
# WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
# FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
# OTHER DEALINGS IN THE SOFTWARE.

# Important: Do not edit this file manually unless you know what you are doing.
#
# Format:
# snippet TAB_TRIGGER,ACCELERATOR,NAME
#  <TAB>  line1
#  <TAB>  line2
#  ...
#
# Place holders with same number is mirrored when the first of them is edited.
#
# Available constants:
# $FILENAME: full name of the active file
# $BASENAME: basename of $FILENAME
# $SELECTED_TEXT: selected text, often used with accelerators
#

# Use Package
# \begin{}...\end{}
# Tabular
# Image
# Align(ed)
# Gather(ed)
# Equation
# Unnumbered Equation
# Aligned Equation
# Aligned Equation
# Enumerate
# Itemize
# Description
# Matrix
# Cases
# Split
# Part
# Chapter
# Section
# Sub Section
# Sub Sub Section
# Paragraph
# Sub Paragraph
snippet enum,<Shift><Alt>e,Enumerate
	\begin{enumerate}[label=(\roman*)]
	\item $1	
	\end{enumerate}
	$0
snippet item,,Item
	\item $0 
snippet equation,<Shift><Alt>adiaeresis,Equation
	\begin{equation}\label{$1}
	$2
	\end{equation}
	$0
snippet eq,<Shift><Alt>odiaeresis,UnnumberedEquation
	\begin{equation*}
	\begin{split}
	$1
	= \; &
	$2
	\end{split}
	\end{equation*}
	$0
snippet fraction,<Shift><Alt>f,Fraction
	\frac{$1}{$2}$0
snippet upper,<Shift><Alt>u,Upper
	^{$1}$0
snippet lower,<Shift><Alt>j,Lower
	_{$1}$0
snippet math,<Shift><Alt>m,Math
	$$1$$0
snippet integral,<Shift><Alt>i,Integral
	\int^{$1}_{$2} $3 \,d$0
snippet text,<Shift><Alt>t,Text
	\; \text{ $1 } \; $0
snippet braces,<Shift><Alt>b,Braces
	\{ $1 \} $0
snippet cal,<Shift><Alt>c,Mathcal
	\mathcal{$1}$0
snippet xrightarrow,<Shift><Alt>x,Xarrow
	\xrightarrow{$1}$0
snippet root,<Shift><Alt>r,Root
	\sqrt{$2}$0
snippet parentheses,<Shift><Alt>h,Parentheses
	($1)$0
snippet proof,<Shift><Alt>p,Proof
	\begin{proof}
	$0
	\end{proof}
snippet equivalence,<Shift><Alt>g,Equivalence
	\Longleftrightarrow
snippet rightarrow,<Shift><Alt>underscore,Arrow
	\longrightarrow 
snippet overset,<Shift><Alt>o,Overset
	\overset{$1}{$2}$0
snippet dafds,<Shift><Alt>d,Cases
	\left\{
	\begin{matrix*}[l]
	$1  &  \;\text{$2}\;  &  $3 \\
	$4 &  \;\text{$5}\;  &  $6 \\
	\end{matrix*}
	\right.$0
snippet lim,<Shift><Alt>l,Limit
	\lim_{$1 \to $2 }$0
snippet mbrace,<Shift><Alt>semicolon,Mathbraces
	{$1}$0
snippet prime,<Shift><Alt>asterisk,Prime
	\prime $0
snippet wedg,<Shift><Alt>w,Wedge
	 \; \wedge \; $0
snippet vert,<Shift><Alt>a,Vert_small
	\vert $1 \vert $0
snippet Vert,<Shift><Alt>v,Vert_big
	\Vert $1 \Vert$0
snippet fa,,ForAll
	\; \forall \; $0
snippet ex,,Exists
	\; \exists \; $0
snippet impl,<Shift><Alt>equal,Implies
	 \Longrightarrow $0
snippet bino,<Shift><Alt>percent,Binomial
	\left( \begin{matrix}
	$1 \\ $2
	\end{matrix}\right) $0
snippet such,<Shift><Alt>colon,SuchThat
	\; : \; $0
snippet ov,,Overline
	\overline{$1}$0
snippet quad,<Shift><Alt>q,Quad
	\quad$0
snippet under,,Underline
	\underline{$1} $0
snippet setm,<Shift><Alt>s,Setminus
	\setminus \{  $1 \} $0
snippet new,<Shift><Alt>n,Newline
	\\ 
	= \; &

snippet beg,,Begin
	\begin{$1}
	$3
	\end{$2}	
	$0
snippet bar,,Bar
	\bar{$1}$0
snippet par,,Partial
	\partial
snippet bra,,Bracket
	[ $1 ]$0
snippet al,,alpha
	\alpha 
snippet be,,beta
	\beta
snippet ga,,gamma
	\gamma
snippet de,,delta
	\delta
snippet ep,,epsilon
	\varepsilon
snippet ze,,zeta
	\zeta
snippet et,,eta
	\eta
snippet te,,theta
	\theta 
snippet ka,,kappa
	\kappa
snippet la,,lambda
	\lambda
snippet split,<Shift><Alt>s,Split
	\begin{split}
	$1
	= &
	$2
	\end{split}
